* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #333;
    background-color: #eee;
    margin: 2rem;
}
a {
    text-decoration: none;
    color: #333;
}
input {
    border: none;
    padding: 0.5rem 1.5rem;
    line-height: 1rem;
    font-size: 1.8rem;
}
button {
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.8rem;
    background-color: #333;
    color: #eee;
    cursor: pointer;
    transition: 500ms;
}
button:hover {
    background-color: #eee;
    color: #333;
}
/*LOGO and LOGIN FORM*/

.logo {
    width: 6rem;
}

.navigation {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c2c2c2;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.login-wrapper {
    display: flex;
}

.signup-btn {
    padding: 0.5rem 1.5rem;
    font-size: 1.8rem;
    margin-left: 0.5rem;
    background-color: #333;
    color: #eee;
    transition: 500ms;
    cursor: pointer;
}
.signup-btn:hover {
    background-color: #eee;
    color: #333;
}

/*MAIN SECTION*/
.wrapper-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #333333;
    color: #eee;
}

.login-status {
    font-size: 5rem;
    cursor: default;
}

/*SIGNUP FORM*/

.signup-section {
    height: 85vh;
    background-color: #333;
    color: #eee;
    margin: 0 auto;
}

.signup-form {
    padding-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-input {
    margin-bottom: 2rem;
}

.signup-submit-btn {
    color: #333;
    background-color: #eee;
    transition: 500ms;
}
.signup-submit-btn:hover {
    padding: 0.6rem 5rem;
}
